<fieldset>
  <legend>
    This will be a setting
  </legend>

  <div class='tabular settings'>
    <p>
      <%= content_tag :label, 'Shall we do some setting' %>
      <%#= check_box_tag 'settings[foo][bar]', 1, settings[:foo][:bar] %>
      <%= check_box_tag 'settings[foo][bar]', 1, 1 %>
    </p>
  </div>
</fieldset>

